.produtos{
    margin: 3rem 8rem 1rem 8rem;
    display: grid;
    gap: 5rem;
}
.produto__container--titulo{
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0 ;
}
.produto__titulo{
    font-size: 2rem;
    font-weight: 700;
}
.produto__item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.produto__container--item{
    display: grid;
    gap: 0.5rem;
}
.produto__item--img{
    max-width: 175px;
    height: 175px;
    object-fit: cover;
}
@media(max-width:1323px){
    .produto__container--item:nth-child(6){
        display: none;

    }
}
@media(max-width:1148px){
    .produto__container--item:nth-child(5){
        display: none;

    }
}

@media(max-width: 1050px){
    .produtos{
        margin: 2rem 2rem 1rem 2rem;
        display: grid;
        gap: 5rem;
    }
}





@media(max-width:975px){
    .produto__container--item:nth-child(4){
        display: none;

    }
}
@media(max-width:800px){
    .produto__container--item:nth-child(3){
        display: none;

    }
}
@media(max-width:700px){
    .produtos{
        margin: 2rem 2rem 1rem 1rem;
        display: grid;
        gap: 3rem;
    }
}

@media(max-width:450px){
    .produto__item--img{
        max-width: 100px;
        height: 100px;
    }
}